html{
  overflow:unset;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 83vh;
}
.contenuJeu{
  width: 80vw;
  height: 83vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.gageBlock{
  margin: 2rem 0rem;
  padding: 2rem;
  font-size: 4em;
  border: 2px solid white;
}
.gageMessage{

}
.titleGage{
  margin: 2rem 0rem;
  font-size: 5em;
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  /* animation: slideInDown 1s both 1s; */

  }
  @-webkit-keyframes slideInDown {
  0% {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  }
  @keyframes slideInDown {
  0% {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  }
