header{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 2rem;
  border-bottom: 1px solid white;
}
.titleSite{
  font-size: 75px;
  width: 76vw;
  text-align: center;
}
.userIcon{
  margin: 0px 1rem;
}
.isUser{
  font-size: 25px;
  /* padding-left: 15rem; */
}
