header{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 2rem;
  border-bottom: 1px solid white;
  position: relative;
  height: 15vh;
}
.titleSite{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 4em;
  padding: 26px 3rem;
}
.userIcon{
  margin: 0px 1rem;
}
.isUser{
  font-size: 25px;
  /* padding-left: 15rem; */
}
.pseudoUser{
  margin: 0rem 1rem;
}
.logout{
  cursor: pointer;
  text-decoration: underline;
}
