<!-- <div class="checkResponseUser Block displayNone">
  <label for="" > Vous allez être rediriger vers les Votes </label>
    <div class="timer Block">
    {{ tempsChangePage }}
  </div>
   <div class="btnMenu">
      <button class="isCheck" id="checkTrue" (click)="btnOui()">Oui</button>
      <button class="isCheck" id="checkFalse" (click)="useRoue()">Non</button>
  </div>
</div> -->
<div class="container">
  <div class="contenuJeu">
    <div class="timer Block">
      {{ temps }}
    </div>
    <div class="carte Block">
      <img src="{{ carte.url }}" alt="{{ carte.name }}" class="imageCarte">
      <div class="nomCarte">{{ carte.name }}</div>
    </div>
    <div class="btnMenu">
      <!-- <button (click)="rollCard()">relancer carte</button> -->
      <!-- <button >Utiliser la roue</button> -->
  </div>
  </div>
  <app-tableau-score></app-tableau-score>
</div>
