.tableauScore{
  width: 22vw;
  height: 85vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
}
.pseudo{
  width: 20vw;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  padding: 0rem 2rem;
  margin: 2rem 0rem;
}
