.containerRegister{
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin: 5rem 0rem;
}
.titleRegister{
  margin: 2rem 2rem;
  font-weight: bold;
  text-align: center;
}
.registerBlock {
  width: 60rem;
  height: 38rem;
}
.formulaireBlock{
  padding: 0rem 4rem;
  width: 60rem;
}
.EnregistrementBtn ,.lienConnection{
  width: 50rem;
  display: flex;
  justify-content: center;
}
.enregistrerBtn {
  margin: 1rem 0rem;
}
.titleRegle{
  margin: 2rem 2rem;
  font-weight: bold;
}
.explicationBlock > p {
  margin: 2rem 2rem;
  font-size: 30px;
}
.explicationBlock{
  width: 30rem;
  height: 38rem;
}
input{
  margin: 1rem 0rem;
}
