<div class="containerRegister">
  <div class="ConnectionBlock Block">
    <h2 class="titleConnection">Connection :</h2>
    <form class="formulaireBlock" #f="ngForm" (ngSubmit)="login(f)" novalidate>
      <label for="">Pseudo:</label>
      <input
        #model="ngModel"
        ngModel
        name="pseudo"
        type="text"
        class="inputBlock"
        placeholder="Pseudo"
      >
      <label for="">Password:</label>
      <input
        type="password"
        class="inputBlock"
        placeholder="Password"
        ngModel
        name="password"
      >
      <div class="verif" *ngIf="statusEror">
        <p class="msgError"> {{ msgError }} </p>
      </div>
      <div class="EnregistrementBtn">
        <button type="submit" class="enregistrerBtn">Se Connecter</button>
      </div>
      <div class="EnregistrementBtn">
        <a class="lienConnecter" routerLink="">pas encore de compte ? s'enregristrer</a>
      </div>
    </form>
  </div>
  <div class="explicationBlock Block">
    <h2 class="titleRegle"> {{ service.Enonce.title }} :</h2>
    <p>{{service.Enonce.description}}</p>
    <div class="plusInfo">
      <a [routerLink]="['/info']">Plus d'infos</a>
    </div>
  </div>
</div>
