/* html{
  overflow: hidden;
} */
body{
  background: #272D33;
  color: white;
  font-family: Segoe UI;
  position: relative;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Block{
  border: 2px solid white;
  border-radius: 1rem;
}
input{
  width: 50rem;
  height: 2rem;
  text-align: center;
  margin: 1rem 0rem;
}
.inputBlock{
  border:none;
  border: 1px solid white;
  border-radius: 10px;
}
button{
  border: 2px solid white;
  border-radius: 15px;
  background: #272D33;
  color: white;
  padding: 1rem;
}
button:hover{
  background: white;
  color: #272D33;
}
a{
  color: #D2D6D9;
}
a:hover{
  color: #525759;
}

