.blockContainer , .btnMenu{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container{
  width: 50%;
  height: 85vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blockContainer{
  width: 60%;
  height: 60vh;
  border-radius: 10px;
  border: 1px solid white;
  transition: 0.5s;
  /* box-shadow: 0 14px 28px white, 0 10px 10px white; */
}

.blockContainer:hover{
  /* border: none; */
  box-shadow: 0 14px 28px white, 0 10px 10px white;
  transform: translateY(-10px);
  transition: 0.5s;
}

.title{
  margin: 2rem 0rem;
  font-size: 3em;
}

.btnMenu{
  margin: 2rem 0rem;
}

.btnMenu button {
  /* margin: 2rem 0rem; */
  /* font-size: 2em; */
}
.createSession{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.titleCreate{
  text-align: center;
  font-size: 2em;
}
.createInput{
  width: 100%;
  height: 55px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: none;
}
.btnCreate{
  font-size: 1em;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;

}
.btnRejoindre{
  font-size: 2em;
  margin: 2rem 0rem;
}
